#--------
# Xcode Workspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
#--------
# Xcode Project
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/default.*
#--------
# eclipse workspace
.metadata/*
!.metadata/version.ini
!.metadata/.mylyn/
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
#--------
# eclipse projects
.classpath
bin/
gen/
obj/
